{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}


<form class="login formulario" method="POST" action="{% url 'account_login' %}">

  <div class="title-container">
    <h1>Iniciar Sesión</h1>
  </div>

  {% csrf_token %}
  <p>
    <label for="id_login">Nombre de Usuario:</label>
    <input class="control" type="text" name="login" placeholder="Usuario" autocomplete="username" maxlength="150"
      required="" id="id_login">
  </p>

  <p>
    <label for="id_password">Contraseña:</label>
    <input class="control" type="password" name="password" placeholder="Contraseña" autocomplete="current-password"
      required="" id="id_password">
  </p>


  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p>No tienes una cuenta? <a href="{{ signup_url }}">Registrarse</a></p>

  <p><a href="{% provider_login_url 'google' %}">Google</a></p>

  

  <div class="boton-container">
    <button class="boton primaryAction" type="submit">Iniciar Sesion</button>
  </div>

</form>

{% endblock %}