{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset formulario">

        <div class="title-container">
            <h1>Iniciar Sesión</h1>
        </div>

        {% csrf_token %}
        <p>
            <label for="id_email">Correo:</label>
            <input class="control" type="email" name="email" placeholder="Correo Electronico" autocomplete="email" required="" id="id_email">
        </p>
        <div class="boton-container">
            <input class="boton" type="submit" value="{% trans 'Reestablecer Contraseña' %}" />
        </div>
        
    </form>
{% endblock %}
