{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<form class="signup formulario" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="title-container">
    <h1>Registrarse</h1>
  </div>
  
  <p>
    <label for="id_username">Nombre de Usuario:</label> 
    <input class="control" type="text" name="username" placeholder="Usuario" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
  </p>

  <p>
    <label for="id_email">Correo (opcional):</label>
    <input class="control" type="email" name="email" placeholder="Correo" autocomplete="email" id="id_email">
  </p>

  <p>
    <label for="id_password1">Contraseña:</label>
    <input class="control" type="password" name="password1" placeholder="Contraseña" autocomplete="new-password" required="" id="id_password1">
  </p>

  <p>
    <label for="id_password2">Repita la contraseña:</label> 
    <input class="control" type="password" name="password2" placeholder="Repita la contraseña" autocomplete="new-password" required="" id="id_password2">
  </p>

  <p>{% blocktrans %}Ya tienes una cuenta? Entonces <a href="{{ login_url }}">Inicia Sesion</a>.{% endblocktrans %}</p>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="boton-container" >
    <button class="boton" type="submit">{% trans "Registrarse" %}</button>
  </div>
  
</form>

{% endblock %}
