{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<form class="formulario" method="post">
{% if process == "connect" %}

  {% csrf_token %}

  <div class="title-container">
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
  </div>

  

  <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider
    }}.{% endblocktrans %}</p>
  {% else %}

  {% csrf_token %}

  <div class="title-container">
    <h1>Google</h1>
  </div>
  
  <p>Iniciar sesion con Google</p>

  {% endif %}

  <div class="boton-container">
    <button class="boton" type="submit">{% trans "Continue" %}</button>
  </div>
  
</form>
{% endblock %}