:root {
    --morado: rgb(131, 6, 153);
    --moradoOscuro: rgb(20, 0, 24);
    --negro: rgb(20, 0, 24);
    --blanco: rgb(179, 179, 179);
    --fuenteEncabezado: 'Nunito', sans-serif;
    --fontsizeP: 3rem;
}


/* GLOBALES */


/* 1rem = 10px */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: initial;
}

body {
    font-size: 16px;
    font-family: var(--fuenteEncabezado);
    /* background-image: linear-gradient(to top, var(--negro) 50%, var(--moradoOscuro) 100%); */
    background-image: url('../img/fondo-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

ul {
    list-style: none;
}


/*FORMULARIO*/

.form-can {
    width: 50rem;
    background: rgb(0, 0, 0);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 0.5rem;
    font-family: 'calibri';
    color: white;
}


/*-------------NAV-----------*/

.logo-container {
    display: block;
}

.navbar {
    background-image: linear-gradient(to top, var(--moradoOscuro) 0%, #000 100%);
    height: auto;
    justify-content: space-around;
    top: 0;
}

.navbar a {
    font-family: var(--fuenteEncabezado);
    text-decoration: none;
    color: white;
}

.nav-item {
    padding: 2rem;
    margin: 0.5rem;
    background-color: rgb(133, 11, 194);
    border-radius: 4rem;
    font-size: 17px;
}

.container-fluid {
    flex-direction: column;
    align-items: center;
}

.navbar {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: inherit;
    }
    .container-fluid {
        flex-direction: row;
        align-items: center;
    }
    .nav-item {
        padding: 2rem;
        margin: 2rem 0 0 89rem;
        background-color: rgb(71, 8, 89);
        border-radius: 2rem;
        font-size: 17px;
    }
    .nav-item:hover {
        background-color: #750b8f;
    }
}


/*--------------*/

h1 {
    font-size: 4rem;
    color: #64087b;
}