{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Canción</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'youmusic/css/styleCrud.css' %}">

</head>
<!---Encabezado--->

<!-- NAV -->
<header>
    <nav class="navbar">
        <div class="logo-container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'youmusic/img/logoMorado.png' %}" alt="" width="150">
            </a>
        </div>
        <div class="container-fluid">
            <a class="nav-item nav-item__1" href="{% url 'home' %}">Inicio</a>
            <a class="nav-item nav-item__4" href="{% url 'aboutus' %}">Quiénes Somos</a>
            <a class="nav-item nav-item__5" href="{% url 'contact' %}">Contáctanos</a>
            <a class="nav-item nav-item__2" href="{% url 'signup' %}">Registrarse</a>
            <a class="nav-item nav-item__3" href="{% url 'signin' %}">Iniciar Sesión</a>
        </div>
    </nav>
</header>
<!---Cuerpo-->

<body>
    <section class="form-can">
        <h1>Agregar canción</h1>
        <div class="row">
            <form action="" method="POST" id="cancion_form" role="form" enctype="multipart/form-data" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                    {{form.as_table}}
                </div>
                <input type="submit" class="btn2 btn-primary" id="enviar" value="Enviar">
                <input type="reset" class="btn2 btn-danger" id="limpiar" value="Limpiar">
                <div class="alert alert-succes" role="alert">
                    {{mensaje}}
                </div>
            </form>
        </div>
    </section>
</body>

</html>